root{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: auto;
    background-color: #0F5646;
}
h1{
    margin: 70px 15px 45px 15px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: #51E0BF;
    font-size: 70px;
    line-height: 30px;
}

@media (max-width: 350px){
    h1{
        font-size: 45px;
    }
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}

@media (max-width: 350px){
    h3{
        font-size: 20px;
    }
}
p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

@media (max-width: 350px){
    p{
        font-size: 18px;
    }
}
#counter{
    margin: 35px auto;
    display: flex;
    justify-content: center;
}

button{
    background-color: #51E0BF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 0;
    
    width: 35px;
    height: 35px;
    color:black;
    border: 2px solid #000;
    border-radius: 50%;
}
#currentNumber{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding: 0 15px;
}
